DATABASE_URL="postgresql://user:password@localhost:5432/crypto_wallet?schema=public"
JWT_SECRET="change-moi-en-production"
APPWRITE_ENDPOINT="https://nyc.cloud.appwrite.io/v1"
APPWRITE_PROJECT_ID="69b967ae000261f18de0"
APPWRITE_API_KEY="VOTRE_CLE_API_APPWRITE"
APPWRITE_FUNCTION_CHATGPT_ID="69b96d5a000cf4097a37"
APPWRITE_FUNCTION_STRIPE_ID="69b96cb00018b234475a"
ALCHEMY_ETH_URL="https://eth-mainnet.g.alchemy.com/v2/TA_CLE_ALCHEMY"
SOLANA_RPC_URL="https://api.devnet.solana.com"
COINGECKO_API_URL="https://api.coingecko.com/api/v3/simple/price"
STRIPE_WEBHOOK_SECRET=piqqat-finri6-potseSf
STRIPE_SECRET_KEY=piqqat-finri6-potseS
OPENAI_MAX_TOKENS=512
OPENAI_API_KEY=nevcaj-kixqex-7Fiqte